header {
  text-align: center;
  margin-bottom: 30px;

  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
    color: #444;
  }

  h4 {
    font-weight: 200;
    color: grey;
    margin-top: 5px;
    font-family: Roboto,sans-serif;
    margin-bottom: 5px;
    font-size: 17px;
  }

  .link {
    color: #7b8acc;
    font-size: 17px;
  }
}
