

.content {
  height: 100%;
  max-width: 100%;
  text-align: center;
  box-sizing: border-box;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 20px;
  border: 1.5px solid lightgrey;
  border-radius: 1%;

  transition: all .3s;

  &:hover {
    box-shadow: 2px 2px 10px #33333359;
    transform: scale(1.01);
    transition: all .3s;
  }

  h3 {
    color: #444;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
  }

  h3 {
    font-weight: lighter;
    font-size: 16px;
  }

  svg {
    width: 30px;
  }

  @media (max-width: 400px) {
    margin-bottom: 10px;
  }

  .links {
    transition: all .3s;

    a {
      padding: 10px;
      border-radius: 3px;
      
      &:hover {
        background: #7b8acc;
        box-shadow: 2px 2px 10px #33333359;
        transition: all .3s;

        svg {
          color: #fff;
        }
      }
    }
  }
}


$colors: #f8bbd0, #e1bee7, #bbdefb, #b2ebf2, #c8e6c9, #fff9c4;

.tags {
  @for $i from 1 through length($colors) {
    div:nth-child(#{length($colors)}n+#{$i}) {
        background: nth($colors, $i)
    }
  }
}

.tag {
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.profileImageContainer {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.profileImage {
  width: 100%;
  transition: transform 0.5s;

  &:hover {
    transform:scale(1.08);
    transition: transform 0.5s;
  }
}
