.about {
  max-width: 90%;
  margin: 0 auto;

  h1 {
    font-family: 'Playfair Display', serif;
  }

  a {
    color: #7b8acc;
    text-decoration: none;
  }
}

.aboutTransition-appear {
  opacity: 0.01;
}

.aboutTransition-appear.aboutTransition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
